.navmenu__header-wrapper {
    height: 45px;
    width: 100%;
    background-color: rgb(186, 18, 43);
    position: relative;
    transition: all .8s ease;
}

.navmenu__header {
    margin-right: 50px;
    width: 100%;
    padding: 14px;
    color: #ffffff;
    font-size: .8125rem;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

.navmenu__hamburger {
    display: inline-block;
    cursor: pointer;
    margin: 3px 0 0 8px;
}
  
.navmenu__hamburger div {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
  
.change .navmenu__hamburger-bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change .navmenu__hamburger-bar2 {opacity: 0;}
  
.change .navmenu__hamburger-bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.navmenu__hide {
    opacity: 0 !important;
}

.navmenu__menu {
    background-color: rgb(186, 18, 43);
    border-radius: 4px;
    position: absolute;
    top: 60px;
    width: 100%;
    overflow: visible;
    z-index: 99999;
    opacity: 1;
    transition: opacity .5s ease;
}